<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="accountName" value="testgroup1955" />
    <add key="accountKey" value="wz2NQLwYrBW/K+dRvd2HrXVIW0oNN0ig+x9Y6i9kidL/K/KZHJQtVtQdnrJ/2sawBy6ZWqxA4bFDt1BzE0xe9w==" />
    <add key="blobName" value="test" />
    <add key="dirToSync" value="F:\test-sync" />
    <add key="logFile" value="app.log" />
  </appSettings>
</configuration>